

.about-header {
	height: 100vh;
	width: 100%;
	background: linear-gradient(180deg,rgba(0,0,0,.4),rgba(0,0,0,.4)),#969696 url("../../images/about-hero.jpg") no-repeat center bottom;
	background-size: cover, cover;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		color: #fff;
		font-size: 3rem;
		text-transform: uppercase;
	}
}

.about-title {
	p {
		margin: 0 10%;
	}
}

.aboutus-page-wrapper {
	h2 {
		font-size: 2.1rem;
    	margin-bottom: 1.5rem;
    	color: #2f1339;
	}

	.about-paragraphs {
		p {
			margin: 0 15%;
			line-height: 1.75;
		}
	}
}
