.archive .main-navigation{
    background-color: $color__background-body;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    #primary-menu a:hover{
		color:#2f1339;
	}
    i:hover{
		color:#2f1339;
	}
}
.archive .page-header{
    display:flex;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    h1{
        text-transform: uppercase;
        text-align:center;
        font-size: 2.2rem;
        letter-spacing: 0.1rem;
    }
    ul{
        display:flex;
        justify-content: center;
        margin-bottom: 2.5rem;
        li{
            list-style:none;
            display: inline-block;
            margin: 0 $base__space-unit;
            width: 100%;
            a{
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                h2{
                font-size: 1.1rem;
                font-weight: lighter;
                }
            }
        }
    }
}
.archive .allproducts{
    border-top:1px dashed #c8c8c8;
    padding-top:3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 1120px;
    li{
        border: $base__border;
        max-width: 23%;
        margin-bottom: $base__space-unit;
        list-style:none;
        .archive-product{
            position: relative;
            height: 250px;
            overflow: hidden;
            img{
                position: absolute;
                left: 50%;
                top: 50%;
                border-bottom: 5px solid lightgray;
                max-height: 250px;
                max-width: none;
                width: auto;
                transform: translate(-50%, -52%);
            }
        }
        .archive-product-text{
            padding: 0 1.2rem;
            .archive-title{
                line-height: 0.8;
                white-space: nowrap;
                overflow: hidden;
                &:after{
                    content: '...........';
                    display:inline;
                    overflow: hidden;
                }
                p{
                    display: inline-block;
                }
            }
        }
    }
}
