/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*Latest Adventures*/

.latest-adventures{
    //  color:white;
		 display:flex;
		 flex-direction: column;
		 height: 820px;
		 @include container;


	h1{
		font-family: $font__adventure;
		 display: inline;
		 margin: 0 auto;
	}

		.adventure-container{
			display: flex;
			height:540px;

			h2{
				display:block;
				padding-top: 10%;
			}

			.read-more{
				margin-top: 20px;
			}

				.adventure-left{
					width:50%;
					background-color: darkgrey;
				}

				.adventure-right-container{
					width:50%;
					background-color: grey;
					display:flex;
					flex-direction: row;
					flex-flow: wrap;

					.adventure-top-right{
						width:100%;
					}

					.adventure-bottom-left{
						width:50%;
					}

					.adventure-bottom-right{
						width:50%;
					}

				}

		}

}

/* Posts and pages */

.read-more{
	text-transform: uppercase;
	border: 1px solid black;
	color:black;
	text-decoration: none;
	padding: 12px 18px;

	&:hover{
		background-color: $color__brand-green;
		color:$color__brand-white;
		border: 1px solid $color__brand-green;
	}

}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Sidebar */

#secondary{
  border-left: 1px solid $color__background-hr;
  padding-left: 70px;
}

.day-of-week {
  font-weight: bold;
}


/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
