/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__brand-green;

	&:visited {
		// color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__brand-purple;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */



.main-navigation {
	// clear: both;
	// display: block;
	// float: right;

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid $color__background-hr;
	z-index: 1;
	// margin-top: -24px;
	height: 50px;

	//  width: 1120px;
	//  margin: 0 auto;
	// align-items: center;

	.logo{
		// display:inline-block;
		// padding-top: 5px;
		// display: flex;
		// align-items: center;
		padding-top: 8px;
		width: 50px;
	}

	.container{
		//  width: 1120px;
		//  margin: 0 auto;
		@include container;

		 display:flex;
			justify-content: space-between;
		// align-items: center;
		// background-color: grey;
	}


	ul {
		display:flex;
		text-transform: uppercase;
		flex-flow: row nowrap;
		list-style: none;
		align-items: center;
		// height:100%;
		// margin:0;
		// margin-top: 20px;
		// background-color: blue;

		ul {
		// 	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		// 	float: left;
		// 	position: absolute;
		// 	top: $base__space-unit;
		// 	left: -999rem;
		// 	z-index: 99999;
		//
		//
		// 	ul {
		// 		left: -999rem;
		// 		top: 0;
		//
		// 	}

			li {

				&:hover > ul,
				&.focus > ul {
					// left: 100%;
				}
			}

			a {
				// width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			// left: auto;
		}
	}
	li {
		// float: left;
		// position: relative;
		padding-right: 40px;


		&:hover > a,
		&.focus > a {
		}
	}
	a {
		// display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation ul {
	// display: block;
}

// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
